.welcome-card img {
  max-height: 25vh;
  overflow: hidden;
  
}
ion-avatar { 
  width: 60px;  
  height: 60px;
  border-radius: 1%;
}

span { font-size: 17px;}
span b { 
  font-size: 60%;
  font-weight: inherit; 
}
