<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items" class="welcome-card" (click)="toDetailPage(item)">
    <img src="/assets/espresso.jpeg" alt="" />
    <ion-card-header>
      <ion-card-title>{{item.payload.doc.data().name}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Produkte</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of items" (click)="test(item)">
      <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
      <ion-label>{{item.payload.doc.data().name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
