<ion-header>
  <ion-toolbar>
    <ion-title>
        <img src="./assets/logo_a_trans.png" class="center">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>AGÁta Café in Mannheim - </h1>
  <h1>wohlfühlen und Geniessen</h1>
  <img src="/assets/lighter.jpeg" alt="" />
  <br>
  <h2>KAFFEE IST GEMEINSCHAFT, GENUSS UND LEIDENSCHAFT.</h2>
  <p> Deshalb rösten wir unseren Specialty Coffee nicht nur vor Ort,
    sondern bereiten mit unseren Kaffees auch Kaffeespezialitäten direkt
    vor Ort in unserem Café in Mannheim zu. Egal ob Cappuccino, Espresso,
    Americano, Flat White oder Milchkaffee, in unserem Café in Mannheim
    ist für jeden Kaffeetrinker*in das Richtige dabei. </p>
  <img src="/assets/lighter-3.jpeg" alt="" />
  <h2>GASTFREUNDSCHAFT UND HERZLICHKEIT</h2>
  <p>Beides schreiben wir groß bei uns im Café in der Coblitzallee. Hier fühlt
    man sich wohl - egal ob für einen leckeren Cappuccino mit Freunden*innen,
    den Americano zum Arbeiten und Lernen oder eine gemütliche Tasse
    Milchkaffee als Belohnung. Setze dich auch gerne zu anderen Leuten an den Tisch
    oder frag' direkt bei uns nach, woher unser Kaffee kommt und was wir sonst so machen.</p>
  <img src="/assets/lighter-2.jpeg" alt="" />
  <h2>DIE BARISTA IM CAFÉ IN MANNHEIM</h2>
  <p>Damit jeder Kaffee erstklassig schmeckt, sind unsere Barista absolute Profis in der
    Zubereitung von euren Kaffees. Sie freuen sich, euch im Café zu begrüßen und euch
    mit einem besonderen Kaffee-Erlebnis zu begeistern. </p>
  <p style="font-size:15px; font-family:Cubano;">Wir freuen uns auf dich, in unserem Café in Mannheim, Coblitzallee 8
    (direkt gegenüber der DHBW). </p>
  <br>
  <h2>Öffnungszeiten:</h2>
  <p>Montag - Freitag, 7:30 - 17 Uhr</p>
  <p>Samstag, 10 - 17 Uhr</p>
  <p>Sonntag, Ruhetag</p>
  <br>
  <h2>Kontakt</h2>
  <p>Telefon: 0621 / 72 48 57 21 </p>
  <p>E-Mail: info@agata-kaffee.de</p>
  <br>
  <p style="font-size:13px">© 2019, AGÁTA Rösterei & Café </p>
</ion-content>