<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Registrierung</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-auth-form #signupForm (formSubmitted)=signupUser($event) [actionButtonText]="'Create Account'"></app-auth-form>

    <ion-button expand="block" fill="clear" routerLink="/login">
        Ich habe bereits einen Account
    </ion-button>
</ion-content>