<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons slot="primary">
        <ion-icon slot="icon-only" name="cart" (click)="toCart()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/{{item.name}}.jpeg" alt="" />
      <h1>{{item.name}}</h1>


  <ion-list>
      <ion-list-header>
          <ion-label>Extras</ion-label>
        </ion-list-header>
      <ion-item >
        <ion-label>
          <h2>Hafermilch</h2>
          <h3>0,40€</h3>
        </ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>

      <ion-item >
          <ion-label>
            <h2>Kokosmilch</h2>
            <h3>0,40€</h3>
          </ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

        <ion-item >
            <ion-label>
              <h2>Mandelmilch</h2>
              <h3>0,60€</h3>
            </ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>

          <ion-item >
              <ion-label>
                <h2>Schlagsahne</h2>
                <h3>0,50€</h3>
              </ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
    </ion-list>
      
      <ion-item>
        <ion-label>to Go?</ion-label>
        <ion-toggle slot="end" checked></ion-toggle>
      </ion-item>

      <br>
      <br>
      
      <section>
          <ion-button expand="block">Zum Warenkorb hinzufügen</ion-button>
        </section>

</ion-content>
