<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons slot="primary">
        <ion-icon slot="icon-only" name="cart" (click)="toCart()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/espresso.jpeg" alt="" />
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
